<!doctype html>

<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Ralph Waldo Emerson{% endblock title %}</title>
        <meta name="description" content="Ralph Waldo Emerson">
        <meta name="author" content="Treehouse">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/master.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="js/global.js"></script>
    {% endblock head %}
</head>

<body>
<!--
  <div id="feedback" class="success">
    <h3>Success!</h3>
    <p>You're reading all about Emerson.</p>
  </div>
-->


<header>
    <h1>Ralph Waldo Emerson</h1>
    <nav>
        <a href="{{ baseUrl() }}" class="selected">About</a>
        <a href="{{ siteUrl('/contact') }}">Contact</a>
    </nav>
</header>

<div class="emerson">
    {% block hero %}
        <img src="images/emerson.jpg" alt="Picture of Ralph Waldo Emerson">
    {% endblock hero %}
</div>

<main>
   {% block content %}
    {% endblock content %}
</main>

<footer>
    {% block footer %}
        <p>A project from <strong><a href="http://teamtreehouse.com">Treehouse</a></strong></p>
        <nav>
            <a href="{{ baseUrl() }}" class="selected">About</a>
            <a href="{{ siteUrl('/contact') }}">Contact</a>
        </nav>
    {% endblock footer %}
</footer>

</body>
</html>
